fastapi==0.115.6
uvicorn[standard]==0.34.0
numpy==1.26.4
scikit-learn==1.6.0
pandas==2.2.3
python-multipart==0.0.18
pydantic==2.10.4
python-dotenv==1.0.1
aiofiles==24.1.0
Pillow==11.1.0

# database
SQLAlchemy>=2.0
PyMySQL>=1.1
